body { 
  background-color:#D4D6CA ;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  background-color: #4A6670;   
  color:white;
  padding:10px;
  margin:10px;
}

nav a {
  text-decoration: none;
  color: #FBFEF9;
}
nav a:hover {
  color: #C97D60;
}



.bg-x1{
background-color:#34113F ;
}
.bg-x2{
  background-color: #4A6670;   
}
.bg-x3{
  background-color: #C97D60;
}
.bg-x4{
  background-color:#D4D6CA ;
}
.bg-x5{
  background-color: #FBFEF9;
}




.grid-container {
  display: grid;
  gap: 20px;
}

.grid-container.col-1 { /* Changed from .grid-container.1col */
  grid-template-columns: 1fr;
}

.grid-container.col-2 { /* Changed from .grid-container.2col */
  grid-template-columns: repeat(1fr, 1fr);
}

.grid-container.col-3 { /* Changed from .grid-container.3col */
  grid-template-columns: repeat(3, 1fr);
}

.grid-container.col-4 { /* Changed from .grid-container.4col */
  grid-template-columns: repeat(4, 1fr);
}

.grid-item img {
  width: 100%;
  height: auto;
}


img {
  max-width: 50%;
  height: auto;
}