


<style>
    body {background-color:  #1E2A35;
    padding: 10px;
    margin: 10px;

}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    border: 1px solid #C97D60;;
    padding: 15px;
    border-radius: 8px;
    background: #253341;
    color:#F1F5F9;
}

.card h3 {
    margin-top: 0;
}

.order {
    border-top: 1px solid #94A3B8;

    margin-top: 10px;
    padding-top: 10px;
}


/* #1E2A35 bg → card #253341 → accent teal #2DD4BF → 
muted text #94A3B8 → white #F1F5F9 → danger/price amber #F59E0B */
</style>
<div class="card">
    <h2>Customer Orders</h2>
    <hr>
</div>
<br>

<div class="container">

{% for d in data %}
<div class="card">

    <h3>{{ d.user.username }}</h3>

    <p>
        <strong>Phone:</strong>
        {% if d.profile %}
            {{ d.profile.phone }}
        {% endif %}
    </p>

    <p>
        <strong>Address:</strong>
        {% if d.profile %}
            {{ d.profile.address }}
        {% endif %}
    </p>

    <hr>

    {% for order in d.orders %}
    <div class="order">

        <b>Order #{{ order.id }}</b><br>
        Date: {{ order.created_at }} <br>
        Total: {{ order.total_price }}

        <ul>
        {% for item in order.orderitem_set.all %}
            <li>
                {{ item.product.name }}
                (Qty: {{ item.quantity }})
                - {{ item.price }}
            </li>
        {% endfor %}
        </ul>

    </div>
    {% empty %}
        <p>No Orders</p>
    {% endfor %}

</div>
{% endfor %}

</div>
```