
<style>
    body {background-color :#D4D6CA ;
    color: #34113F ;
    padding: 10px;
    margin: 10px;

}




.grid-container {
    display: grid;
    gap: 20px;
}

.grid-container.col-1 { /* Changed from .grid-container.1col */
    grid-template-columns: 1fr;
}

.grid-container.col-2 { /* Changed from .grid-container.2col */
    grid-template-columns: repeat(1fr, 1fr);
}

.grid-container.col-3 { /* Changed from .grid-container.3col */
    grid-template-columns: repeat(3, 1fr);
}

button {
    background-color: #C97D60;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


</style>
<style>
    .container {
      display: grid;
      grid-template-columns:10% 50% 30% 10%;
    
      padding: 10px;
    }
    .container div {


      padding: 10px;
      font-size: 20px;
      text-align:left;
    }

    .top-text{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: large;
        color: #34113F ;
    }
    </style>
{% extends "shop/base.html" %}
{% block content %}

<h2>Login</h2>
<div class="row-8 content-grid bg-x6">

    <div class="grid-item-1">
        <p class="top-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur corporis quasi, quia aspernatur hic consectetur corrupti at quibusdam a in ipsa enim commodi unde suscipit nemo modi deserunt minima maiores.

        </p>

   </div>
   <div class="grid-item-1">

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <br>

    <button>
        <a href="{% url 'signup' %}">Signup</a>
    </button>
   </div>

    </div>
    <div>
       
    </div>
    <div>
      </div>
    <div></div>
</div>

        
        {% endblock %}

</div>
