{% for page in pages %}
    <h2>{{ page.title }}</h2>

    <p>{{ page.content1 }}</p>
    {% if page.image1 %}
    <img src="{{ page.image1.url }}" width="200">
{% endif %}
    <p>{{ page.content2 }}</p>
    {% if page.image2 %}
    <img src="{{ page.image2.url }}" width="200">
{% endif %}


    <p>{{ page.content3 }}</p>
      
    {% if page.image3 %}
        <img src="{{ page.image3.url }}" width="200">
    {% endif %}
    {% if page.image4 %}
    <img src="{{ page.image4.url }}" width="200">
      {% endif %}

    <p>{{ page.content4 }}</p>
  
    <hr>
{% endfor %}
