{% extends "shop/base.html" %}
{% load humanize %}

{% block title %}Checkout{% endblock %}

{% block content %}

<div class="content-grid bg-black text-white">

    <h1>Checkout</h1>

    {% if cart_items %}

    <form method="POST" action="{% url 'shop:checkout' %}">
        {% csrf_token %}

        <table border="1" cellpadding="10">
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>

            {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <td>PKR {{ item.item_total|intcomma }}</td>
            </tr>
            {% endfor %}
        </table>

        <p><strong>Total: PKR {{ total }}</strong></p>

        <button type="submit">Place Order</button>
    </form>

    {% else %}
        <p>Your cart is empty.</p>
        <a href="{% url 'shop:product_list' %}">Shop Now</a>
    {% endif %}

</div>

{% endblock %}