{% extends 'themeOne/base.html' %}
{% load humanize %}

{% block title %}Checkout{% endblock %}

{% block content %}
<div class="content-grid row-2 checkout bg-black text-white">
    <div class="grid-item-1">
    <h1 class="checkout-title">Checkout</h1>

    {% if cart_items %}

    <form method="POST" action="{% url 'shop:checkout' %}" class="checkout-form">
        {% csrf_token %}

        <!-- GRID HEADER -->
        <div class="grid-header">
            <div>Product</div>
            <div>Quantity</div>
            <div>Total</div>
        </div>

        <!-- GRID ITEMS -->
        {% for item in cart_items %}
        <div class="grid-row">
            <div>{{ item.product.name }}</div>
            <div>{{ item.quantity }}</div>
            <div>PKR {{ item.item_total|intcomma }}</div>
        </div>
        {% endfor %}

        <!-- TOTAL -->
        <div class="grid-total">
            <strong>Total: PKR {{ total }}</strong>
        </div>

        <button type="submit" class="checkout-btn">Place Order</button>
    </form>

    {% else %}
        <p>Your cart is empty.</p>
        <a href="{% url 'shop:product_list' %}" class="shop-link">Shop Now</a>
    {% endif %}
</div>
    <div class="grid-item-1 nl-copy">
    <div class="payment-link">
        <a href="{% url 'shop:upload_payment_proof' %}">
            <h2 class="text-1">Upload Your Payment Proof</h2>
        </a>
        <button>
            <a href="{% url 'shop:upload_payment_proof' %}">Click Here</a>
        </button>
    </div>
</div>
</div>

{% endblock %}