{% extends 'themeOne/base.html' %}
{% block title %}Product List{% endblock %}


{% block content %}
<style>

</style>
<!-- Main Shop Page -->
<div class="row-2 content-grid  bg-black ">

  <div class="grid-item-1 text-white">
    <div class="category-link">
   <h2> Categories: </h2>
   <br>
   <button>
    <a href="{% url 'shop:product_list' %}">All {# Link to show all products #}
      {% for cat in categories %}    
    </a>   
   </button>
   <button>
    <a href="{% url 'shop:product_list_by_category' cat.slug %}">{{ cat.name }}</a>   
   </button>
 
         
    
      {% endfor %}
   
    </div>
     

  </div>

  <div class="grid-item-1  bg-blue text-white">
    <h2>Products </h2>
    <ul>
        {% for product in products %}
    
                <a href="{% url 'shop:product_detail' product.slug %}">{{ product.name }}</a>
            </h1>
            <img src="{{ product.image.url }}" width="200">

            <p class="text-1"> <b> Product Description: </b> <br> {{ product.description }} </p>
            <p class="text-1"> Price:PKR {{ product.price }}</p>
            <button>  <a href="{% url 'shop:product_detail' product.slug %}">Read More</a> </button>
         
 
 

  </div>

      

           
        {% endfor %}
  
    {% endblock %}


