
{% extends "shop/base.html" %}
{% block title %}Product List{% endblock %}


{% block content %}
<style>
  body{
    background-color:#D4D6CA ;
    padding: 10px;
    margin: 10px;
  }
  
  li{
    list-style-type: none;
    margin: 5px 0;
    padding: 10px;
    background-color:  #34113F;
    border-radius: 5px;
    text-decoration: none;
    width: 300px;
    text-decoration: none !important;
    color:white;
  }
a{
  text-decoration: none !important;
  color: #C97D60;

}
</style>
  <div class="topnav">
  

</div>
<br>
<div class="category-link">
  <strong>Categories:</strong>
  <ul>
    <li class="btn-a category-link">
  <a href="{% url 'product_list' %}">All</a> {# Link to show all products #}
  {% for cat in categories %}     </li>
  <li class="btn-a  category">
    <a href="{% url 'product_list_by_category' cat.slug %}">{{ cat.name }}</a>     
  </li>
  {% endfor %}
</ul>
</div>
 
       
 <br>
<h1>Products </h1>
<ul>
    {% for product in products %}
    <li class="btn-a  category">
            <a href="{% url 'product_detail' product.slug %}">{{ product.name }}</a>
            - ${{ product.price }}
        </li>
    {% endfor %}
</ul>
{% endblock %}
