{% extends 'themeOne/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Shopping Cart{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<div class="row-6 content-grid  bg-black text-white">
    <div class="grid-item-1">
    
    </div>
    <div class="grid-item-1  bg-blue ">
        <h2 class="text-1">Upload Payment Proof</h2>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="grid-item-1">
    
</div>
</div>




{% endblock %}